* {
  color: #fff;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
}
body {
  background-color: #000;
}
a {
  text-decoration: none;
}
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
}
/* header */
header {
  width: 100%;
  height: 80px;
  padding: 20px 80px;
}
.logo {
  width: 160px;
  height: 22px;
  transform: translateY(4px);
}
.logo img {
  width: 100%;
}
.select {
  float: right;
  transform: translateY(-22px);
}
.select a {
  transition: all 0.5s;
}
.login {
  color: #bbb;
  margin-right: 30px;
}
.login:hover {
  color: #fff;
}
.start {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 20px;
  background-image: linear-gradient(252deg, #f6136e, #b620e0 49%, #8533ff);
  /* transform: scale(1); */
  position: relative;
  z-index: 2;
}
.start::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(252deg, #f6136e, #b620e0 49%, #8533ff);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1);
  transition: all 0.3s;
}
.start:hover::after {
  transform: scale(1.05);
}
.start span {
  position: relative;
  z-index: 2;
}
/* main */
main {
  position: relative;
}
/* bg-video */
.back_video {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.back_video video {
  width: 100%;
  transition: all 0.3s;

  position: absolute;
  top: 0;
  left: 0;
}
.back_v1 {
  z-index: 1;
}
.back_v2 {
  z-index: 2;
}
.back_v3 {
  z-index: 3;
}
.back_v1,
.back_v2,
.back_v3 {
  opacity: 0;
}
.back_v_on {
  opacity: 1;
}
section {
  width: 100%;
  padding: 50px 80px;
  margin-bottom: 200px;
}
.bar {
  width: 0%;
  height: 1px;
  background-color: #868686;
  transition: all 0.9s;
}
.bar1 {
  transition-delay: 0.6s;
}
.bar2 {
  transition-delay: 0.9s;
}
.bar3 {
  transition-delay: 1.2s;
}
.bar_active {
  width: 100%;
}
.bar_container div:nth-child(2) {
  text-align: center;
}
.word {
  font-size: 74px;
  font-weight: 900;

  transition: all 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.bar1 ~ h2 {
  margin-top: 36px;
  margin-bottom: 120px;
  transition-delay: 1.3s;
}
.bar2 ~ h2 {
  display: inline-block;
  text-align: left;
  line-height: 90px;
  margin-top: 26px;
  margin-bottom: 30px;
  transition-delay: 1.6s;
}
.bar3 ~ h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  transition-delay: 1.9s;
}
.word_active {
  opacity: 1;
  transform: translateY(0px);
}
.install_btn {
  margin-bottom: 20px;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.install_btn_active {
  transition-delay: 2.4s;
  opacity: 1;
  transform: translateY(0px);
}
.install_btn a {
  display: inline-block;
  width: 180px;
  margin-right: 10px;
  position: relative;
}
.install_btn img {
  width: 100%;
}
.install_btn img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}
.apple:hover img:nth-child(2) {
  opacity: 1;
}
.micro:hover img:nth-child(2) {
  opacity: 1;
}

/* 플레이리스트 ------------------------------ */
.playlist_section {
}
/* 플레이리스트 - intro */
.play_intro {
  display: flex;
  justify-content: space-around;
  margin-bottom: 250px;
}
.play_intro p {
  font-size: 70px;
  font-weight: 900;
  line-height: 90px;
}
.play_intro p:last-child {
  margin-top: 180px;
}
/* 플레이리스트 - container */
.play_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 80px;
}
.play_title_container > h2 {
  font-size: 36px;
  font-weight: 600;
}
.play_btn_box {
  width: 50px;
}
.play_btn_box img {
  width: 100%;
  cursor: pointer;
}
.btn_on {
  display: block;
}
.btn_off {
  display: none;
}
/* playlist_container */
.playlist_container {
  position: relative;
}
.bar_background {
}
.bar_background .bar {
  margin-bottom: 300px;
}
.bar_background .bar:last-child {
  margin-bottom: 0;
}

.playlist_box {
  display: flex;
  align-items: center;
  gap: 120px;

  position: absolute;
  top: 0;
  left: 0;

  animation: 107.071s linear 1s infinite normal none running animation_active;
}
.playlist_box:hover {
  animation-play-state: paused;
}
.paused {
  animation-play-state: paused;
}
@keyframes animation_active {
  100% {
    transform: translateX(-7071.56px);
  }
}
.playlist_item {
  margin-top: 50px;
  margin-bottom: 50px;
}
.playlist_item > div {
}
.thumb {
  margin-bottom: 40px;
  transition: all 0.3s;
}
.thumb:hover {
  transform: scale(0.93);
  filter: brightness(50%);
}
.th_big {
  width: 400px;
}
.th_small {
  width: 300px;
}
.thumb_img {
  width: 100%;
  border-radius: 10px;
}
.playlist_title {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 10px;
}
.playlist_grey {
  font-size: 22px;
  color: #868686;
}
